---
import NavBar from "@/components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import AboutMe from "@/components/AboutMe.astro";
import Studies from "@/components/Studies.astro";
---

<Layout>
  <NavBar />
  <main>
    <Hero />
    <AboutMe />
    <Studies />
  </main>
</Layout>
