---
import { basics } from "@cv";
import Sections from "./Sections.astro";

const { summary } = basics;
---

<Sections sectionId="about-me" title="Sobre Mí">
  <div class="flex gap-4">
    <p class="text-xl font-extralight">
      {summary}
    </p>
    <img class="w-80" src="/Boceto-programador.gif" alt="" />
  </div>
</Sections>
