---
import { basics } from "@cv";
import Sections from "./Sections.astro";

const { summary } = basics;
---

<Sections>
  <div class="flex flex-col items-center justify-center gap-3">
    <h2 class="text-2xl font-bold" id="about-me">Sobre Mí</h2>
    <p class="text-xl font-extralight">
      {summary}
    </p>
    <img src="/Boceto-programador.gif" alt="" />
  </div>
</Sections>
