---
import { basics } from "@cv";
import Sections from "./Sections.astro";

const { summary } = basics;
---

<Sections sectionId="about-me" title="Sobre Mí">
  <div class="flex items-center gap-4">
    <p class="text-xl font-extralight w-3/5">
      {summary}
    </p>
    <img
      class="rounded-3xl w-80 drop-shadow-[0px_0px_10px_black]"
      src="/aboutme-img.webp"
      alt=""
    />
  </div>
</Sections>
