<li
  class="container h-full bg-[#222727] first:row-[1_/_3] first:col-[1_/_2] p-4 rounded-2xl cursor-pointer hover:drop-shadow-[0px_0px_10px_#55ca6d] hover:scale-110 transition-colors duration-300"
>
  <slot />
</li>
