---
import { education } from "@cv";
---

<div class="w-full h-screen flex items-center justify-center">
  <div class="w-3/5 h-11/12 py-10">
    <ul class="flex gap-6">
      {
        education.map(({ institution, area, studyType }) => {
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{institution}</h3>
                    <h4>{area}</h4>
                  </div>
                  <h5>{studyType}</h5>
                </header>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
