---
import BurgerMenu from "@/icons/BurgerMenu.astro";
import NavItem from "./NavItem.astro";
---

<div class="fixed z-40 w-full">
  <div
    class="relative w-full flex md:flex-col items-center gap-2 backdrop-blur-xs max-md:bg-[#55ca6d] max-md:h-16"
  >
    <div class="max-md:w-full flex items-center justify-around">
      <a class="md:absolute md:left-20 md:-top-1" href="#"
        ><img class="w-16 h-12 invert-100" src="/JAH-LOGO.webp" alt="" /></a
      >
      <div class="relative">
        <input type="checkbox" id="menu-toggle" class="hidden peer" />
        <label
          for="menu-toggle"
          class="block cursor-pinter p-2 text-[#F5F4F6] md:hidden"
        >
          <BurgerMenu />
        </label>
        <nav
          class="max-md:absolute max-md:top-full max-md:left-0 max-md:w-48 max-md:bg-[#F5F4F6] max-md:text-[#242D2E] max-md:hidden max-md:peer-checked:block"
        >
          <ul class="md:flex md:gap-4">
            <NavItem url="#about-me">Sobre mí</NavItem>
            <NavItem url="#studies">Estudios</NavItem>
            <NavItem url="#skills">Habilidades</NavItem>
            <NavItem url="#projects">Proyectos</NavItem>
          </ul>
        </nav>
      </div>
    </div>
    <div class="w-2/5 h-1 max-md:hidden bg-[#55CA6D] rounded-3xl"></div>
  </div>
</div>

