---
const categories = [
  { name: "Sobre mí", url: "#about-me" },
  { name: "Estudios", url: "#studies" },
  { name: "Habilidades", url: "#skills" },
  { name: "Proyectos", url: "#projects" },
];
---

<nav
  class="fixed z-40 w-full flex sm:flex-col items-center gap-2 pt-2 backdrop-blur-xs max-sm:bg-[#55ca6d] max-sm:h-16"
>
  <div class="max-sm:w-full flex items-center justify-center">
    <a class="sm:absolute sm:left-20 sm:-top-1" href="#"
      ><img class="w-16 h-12 invert-100" src="/JAH-LOGO.webp" alt="" /></a
    >
  </div>
  <ul class="sm:flex gap-3 lg:gap-8 max-sm:hidden max-sm:absolute">
    {
      categories.map((category) => {
        return (
          <li>
            <a
              class="2xl:text-xl text-base  relative hover:after:w-full after:w-0 after:h-0.5 after:content-[''] after:bg-[#f5f4f6] after:absolute after:-bottom-1 after:left-0 after:transition-all after:duration-500"
              href={category.url}
            >
              {category.name}
            </a>
          </li>
        );
      })
    }
  </ul>
  <div class="w-2/5 h-1 max-sm:absolute bg-[#55CA6D] rounded-3xl"></div>
</nav>
