---
import Sections from "./Sections.astro";
import { projects } from "@cv";
---

<Sections sectionId="projects" title="Proyectos">
  <div class="grid w-full grid-cols-3 grid-rows-4 gap-4 h-[700px]">
    {
      projects.map(({ name, url }) => {
        return (
          <div class="container first:row-[1_/_4] nth-[2]:row-[1_/_3] nth-[2]:col-[2_/_3] bg-[#222727] p-4 rounded-2xl hover:border-[f5f4f6] cursor-pointer hover:drop-shadow-[0px_0px_10px_#55ca6d] hover:scale-110 transition-colors duration-300">
            <a href={url} target="_blank">
              <h3>{name}</h3>
            </a>
          </div>
        );
      })
    }
  </div>
</Sections>
