<div class="relative">
  <input type="checkbox" id="menu-toggle" class="hidden peer" />
  <label
    for="menu-toggle"
    class="block cursor-pinter p-2 bg-gray-800 text-white rounded-md">☰</label
  >
  <nav
    class="absolute top-full left-0 w-48 bg-gray-800 text-white rounded-md hidden peer-checked:block"
  >
    <ul>
      <li class="p-2 hover:bg-gray-700"><a href="#">Inicio</a></li>
      <li class="p-2 hover:bg-gray-700"><a href="#">Servicios</a></li>
      <li class="p-2 hover:bg-gray-700"><a href="#">Contacto</a></li>
    </ul>
  </nav>
</div>
