---
const { sectionId } = Astro.props;
---

<section
  class="w-full h-screen flex items-center justify-center"
  id={sectionId}
>
  <div class="w-3/5 h-11/12 py-10">
    <slot />
  </div>
</section>
