---
import Sections from "./Sections.astro";
import { skills } from "@cv";
import IconAstro from "@/icons/Skills/IconAstro.astro";
import Css from "@/icons/Skills/Css.astro";
import Html from "@/icons/Skills/Html.astro";
import Js from "@/icons/Skills/Js.astro";
import React from "@/icons/Skills/React.astro";
import Tailwind from "@/icons/Skills/Tailwind.astro";
import Ts from "@/icons/Skills/Ts.astro";
import Sqlite from "@/icons/Skills/Sqlite.astro";
import Mongodb from "@/icons/Skills/Mongodb.astro";
import MySql from "@/icons/Skills/MySql.astro";
import NodeJs from "@/icons/Skills/NodeJs.astro";
import Express from "@/icons/Skills/Express.astro";
import Git from "@/icons/Skills/Git.astro";
import C from "@/icons/Skills/C.astro";

const SKILLS_ICON: Record<string, any> = {
  IconAstro,
  Css,
  Html,
  Js,
  React,
  Tailwind,
  Ts,
  Sqlite,
  Mongodb,
  MySql,
  NodeJs,
  Express,
  Git,
  C,
};
---

<Sections sectionId="skills">
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-2xl font-bold">Habilidades</h2>
    <ul class="grid grid-cols-6 gap-4">
      {
        skills.map(({ name, icon }) => {
          const Icon = SKILLS_ICON[`${icon}`];
          return (
            <li class="p-4 flex flex-col items-center hover:bg-[#f5f4f6] hover:text-[#242d2e] hover:rounded-2xl transition-all duration-300">
              <h4 class="text-sm">{name}</h4>
              <div class="w-12 h-12">
                <Icon />
              </div>
            </li>
          );
        })
      }
      <li class="p-4 flex items-center">Más Proximamente...</li>
    </ul>
  </div>
</Sections>
