---
import Sections from "./Sections.astro";
import { skills } from "@cv";
import IconAstro from "@/icons/Skills/IconAstro.astro";
import Css from "@/icons/Skills/Css.astro";
import Html from "@/icons/Skills/Html.astro";
import Js from "@/icons/Skills/Js.astro";
import React from "@/icons/Skills/React.astro";
import Tailwind from "@/icons/Skills/Tailwind.astro";
import Ts from "@/icons/Skills/Ts.astro";
import Sqlite from "@/icons/Skills/Sqlite.astro";
import Mongodb from "@/icons/Skills/Mongodb.astro";
import MySql from "@/icons/Skills/MySql.astro";
import NodeJs from "@/icons/Skills/NodeJs.astro";
import Express from "@/icons/Skills/Express.astro";
import Git from "@/icons/Skills/Git.astro";
import C from "@/icons/Skills/C.astro";

const SKILLS_ICON: Record<string, any> = {
  IconAstro,
  Css,
  Html,
  Js,
  React,
  Tailwind,
  Ts,
  Sqlite,
  Mongodb,
  MySql,
  NodeJs,
  Express,
  Git,
  C,
};
---

<Sections sectionId="skills" title="Habilidades">
  <ul class="grid grid-cols-2 xl:grid-cols-6 xl:gap-4">
    {
      skills.map(({ name, icon }) => {
        const Icon = SKILLS_ICON[`${icon}`];
        return (
          <li class="p-4 flex flex-col items-center ">
            <h4 class="text-sm">{name}</h4>
            <div class="w-12 h-12">
              <Icon />
            </div>
          </li>
        );
      })
    }
    <li class="p-4 flex items-center">Más Proximamente...</li>
  </ul>
</Sections>
