---
import Sections from "@/components/Sections.astro";
import Education from "./Studies/Education.astro";
import Certificates from "./Studies/Certificates.astro";
---

<Sections sectionId="studies">
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-2xl font-bold">Estudios</h2>
    <Education />
    <Certificates />
  </div></Sections
>
