---
import { certificates } from "@cv";
import BoxContainer from "../BoxContainer.astro";
---

<div class="w-full flex flex-col gap-4">
  <h3 class="text-xl">Certificados</h3>
  <ul
    class="flex flex-col gap-2 xl:h-80 xl:grid xl:gap-2.5 xl:grid-cols-3 xl:grid-rows-2 justify-center content-end"
  >
    {
      certificates.map(({ name, issuer, date, image }) => {
        return (
          <BoxContainer>
            <div>
              <h3>{name}</h3>
              <h4 class="text-[#faf9fb62]">{issuer}</h4>
            </div>
            <time>{date}</time>
          </BoxContainer>
        );
      })
    }
  </ul>
</div>
