---
import { education } from "@cv";
---

<div class="w-full">
  <h3 class="text-xl">Educación</h3>
  <ul class="flex max-lg:flex-col gap-2 xl:h-50">
    {
      education.map(({ institution, area, studyType }) => {
        return (
          <div class="container h-60 xl:h-11/12 bg-[#222727] p-4 rounded-2xl cursor-pointer hover:drop-shadow-[0px_0px_10px_#55ca6d] hover:scale-110 transition-colors duration-300">
            <article>
              <header>
                <div>
                  <h3 class="max-lg:text-lg text-xl font-bold">
                    {institution}
                  </h3>
                  <h4 class="max-lg:text-sm text-xl text-gray-300">{area}</h4>
                </div>
                <h5>{studyType}</h5>
              </header>
            </article>
          </div>
        );
      })
    }
  </ul>
</div>
