---
import { education } from "@cv";
import BoxContainer from "../BoxContainer.astro";
---

<div class="w-full">
  <h3 class="text-xl">Educación</h3>
  <ul class="flex max-sm:flex-col gap-6">
    {
      education.map(({ institution, area, studyType }) => {
        return (
          <BoxContainer>
            <article>
              <header>
                <div>
                  <h3 class="max-sm:text-lg text-xl font-bold">
                    {institution}
                  </h3>
                  <h4 class="max-sm:text-sm text-xl text-gray-300">{area}</h4>
                </div>
                <h5>{studyType}</h5>
              </header>
            </article>
          </BoxContainer>
        );
      })
    }
  </ul>
</div>
