<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/JAH-LOGO.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Jahdiel Arciniegas - Desarrollador FullStack</title>
  </head>
  <body class="font-mono">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: #242d2e;
    color: #f5f4f6;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
