<!doctype html>
<html lang="en" class="overflow-y-auto scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/JAH-LOGO.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Jahdiel Arciniegas - Desarrollador FullStack</title>
  </head>
  <body class="font-mono overflow-y-auto bg-[#242D2E] text-[#F5F4F6] m-0">
    <slot />
  </body>
</html>

